*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: chocolate;
}

.bodycolore{
    width: 50%;
    border: solid #fefffe 10px;
    height: 50%;
    margin-inline: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    padding: 5PX;
    color: #02025e;
}

.flex{
    display: flex;
    gap: 20px;
    justify-content: center;
}

a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: bisque;
}

li{
list-style: none;
}


.heading1,h4,p{
    padding: 5px;
    margin: 10px;
    background-color: #02025e;
    color: aliceblue;
    width: 50%;
}

.button{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    width: 250px;
    font-weight: 700;
    font-size: 1.5rem;
    box-shadow: 5px 10px 10px;
    border-radius: 10px;
}

.div2{
    color: #ffffff;

}